.download-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.download-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    max-height: 248px;
    background: transparent;
    border: 1px solid #777;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 2em;
    transition: all .4s ease-in-out;
}

.download-card:hover {
    border: 1px solid #E31B23;
}

.download-card__content-box a {
    text-decoration: none;
    color: #bbb;
    transition: all .3s ease-in-out;
}

.download-card__content-box a:hover, .download-card__content-box a:focus {
    text-decoration: none;
    color: #E31B23;
    box-shadow: none;
}

@media (min-width: 700px) {
    .download-cards[data-view='grid-view'] .download-card {
        float: left;
        width: calc(50% - 2em);
    }

    .download-cards[data-view='grid-view'] .download-card:nth-child(3) {
        clear: both;
    }

    .download-cards[data-view='grid-view'] .download-card:nth-child(4) {
        clear: initial;
    }
}

@media (min-width: 1000px) {
    .download-cards[data-view='grid-view'] .download-card {
        width: calc((100% / 4) - 2em);
    }

    .download-cards[data-view='grid-view'] .download-card:nth-child(3) {
        clear: initial;
    }

    .download-cards[data-view='grid-view'] .download-card:nth-child(4) {
        clear: both;
    }
}

.download-card__icon-box {
    display: flex;
    align-items: center;
    background: #0e0e0e;
    text-align: center;
    z-index: 1;
    border-right: 1px solid #777;
    transition: all .4s ease-in-out;
}

.download-card:hover .download-card__icon-box {
    border-right: 1px solid #E31B23;
}

@media (min-width: 700px) {
    .download-card__icon-box {
        justify-content: center;
    }
}

.download-card__icon-box img {
    width: 100%;
    margin: 0 auto;
}

.download-cards[data-view='list-view'] .download-card__icon-box {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.download-cards[data-view="list-view"] .download-card__content-box {
    padding-left: calc(200px + 1em);
}

.card-read-more {
    border-top: 1px solid #777;
    transition: all .4s ease-in-out;
}

.download-card:hover .card-read-more {
    border-top: 1px solid #E31B23;
}

.card-read-more a, .card-read-more button {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #eee;
    background: transparent;
    border-radius: 0 0 4px 4px;
}

.card-read-more a:hover, .card-read-more a:focus, .card-read-more a:active,
.card-read-more button:hover, .card-read-more button:focus, .card-read-more button:active {
    color: #e31b23 !important;
}

.download-cards .btn:hover:before, .btn:focus:before, .btn:active:before {
    border-radius: 0 0 4px 0;
}

.download-cards[data-view='list-view'] .card-read-more {
    padding-left: 14.2em;
}

.download-card__content-box {
    padding: 1em;
    flex: 1;
}

.download-card__content-box__catagory {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    margin: 0 0 2em;
}

.download-card__content-box__catagory::before {
    font-family: "Font Awesome 5 Free";
    content: '\f017';
    color: #E31B23;
    font-weight: 900;
}

.download-card__content-box__title {
    line-height: 1;
    margin: 0 0 .5em;
    font-size: 20px;
}

.download-card__content-box__title a {
    color: #eee;
}

.download-card__content-box__description {
    line-height: 1.5;
    padding: 0;
    margin: 0 0 1em;
    clear: both;
    color: #929292;
    font-size: 16px;
}

.download-card__content-box .button {
    position: absolute;
    bottom: 2em;
    margin: 0;
    color: #E31B23;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 13px;
}

.dc-view-switcher {
    margin: 0 1.4em;
    text-align: right;
}

.dc-view-switcher label {
    font-weight: normal;
    font-size: 17px;
}

.dc-view-switcher > button {
    font-family: 'Font Awesome 5 Free';
    background: transparent no-repeat 0 0;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
    color: gray;
    opacity: 0.3;
    outline: none;
    transition: opacity .4s ease;
    font-weight: 900;
}

.dc-view-switcher > button[data-trigger="list-view"]::before {
    content: "\f00b";
}

.dc-view-switcher > button[data-trigger="grid-view"]::before {
    content: "\f00a";
}

.dc-view-switcher > button[data-trigger="filter"]::before {
    content: "\f0b0";
}

.dc-view-switcher > button[data-trigger].active {
    opacity: 1;
    color: #E31B23;
}

@media (max-width: 700px) {
    .download-cards[data-view='list-view'] .download-card__icon-box {
        width: 100px;
    }

    .download-cards[data-view="list-view"] .download-card__content-box {
        padding-left: calc(100px + 1em);
    }

    .download-cards[data-view='list-view'] .card-read-more {
        padding-left: 7.1em;
    }

    .download-cards[data-view='grid-view'] .download-card {
        width: calc((100% / 2) - 2em);
    }

    .dc-view-switcher {
        margin: 0;
    }

    .dc-view-switcher > button {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
}
